/* Global style */
html {
  height: 100%;
}

body,
.body {
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: #fff3d1;
}

.body.blurry {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px) grayscale(30%);
  transition: filter 0.2s linear;
}

h1 {
  font-size: 28px;
}

h2 {
  color: #fd2d01;
  font-size: 21px;
}

#logo {
  margin-top: 20px;
}

.red {
  font-weight: 600;
  color: #fd2d01;
}

.new-user > p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.new-reaction > p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.new-post > p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.top-header {
  height: 120px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fd2d01;
}

/* Header Style */

header > .logo-header {
  margin: 20px;
}

header > .menu-header ul {
  display: flex;
  flex-direction: row;
}

header > .menu-header nav > ul > li {
  font-size: 24px;
  font-weight: 600;
  list-style: none;
  margin: 30px;
}

header > .menu-header nav > ul > li a {
  color: white;
  text-decoration: none;
}

header > .my-pp img {
  margin: 20px;
  height: 95px;
  width: 95px;
  border-radius: 99px;
}

/* Footer Style */

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: #fd2d01;
}

footer > #legals {
  margin: 20px;
  font-size: 20px;
}

footer > #legals a {
  text-decoration: none;
  color: #fff3d1;
  font-weight: 700;
}

footer > #contact-us {
  margin: 20px;
  color: white;
  font-weight: 700;
}

footer > #contact-us a {
  text-decoration: none;
  color: #fff3d1;
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

/* Button Style */

button {
  width: 60px;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.356) -2px 2px 0.1em;
  background-color: rgb(19, 93, 230);
  color: white;
  cursor: pointer;
}

/* Popup Style */

.popup {
  z-index: 99;
  width: 400px;
  max-height: auto;
  display: flex;
  flex-flow: column wrap;
  overflow: hidden;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 12px;
  box-shadow: rgba(13, 13, 95, 0.356) -8px 8px 0.3em;
  background-color: cornflowerblue;
}

.popup > .popup-header {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap;
  align-items: center;
}

.popup > .popup-header > .popup-close-btn {
  text-align: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  border: none;
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(255, 0, 0, 0.555);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.267) -2px 2px 0.1em;
}

.popup > .popup-header > .popup-title {
  flex-grow: 3;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-align: center;
  font-family: 'Dosis', sans-serif;
}

.popup > .popup-form {
  display: flex;
  flex-flow: column nowrap;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.popup > .popup-form label {
  color: white;
}

.popup > .popup-form input {
  color: darkblue;
  background-color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 700;
  height: 30px;
  border: none;
  border-radius: 3px;
  padding-left: 5px;
  font-size: 16px;
}

.popup-img-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.popup-submit-btn {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-bottom: 20px;
}

.popup > .popup-form > #create-post-content {
  height: 156px;
}

.popup > .popup-form > .popup-submit-btn > input {
  width: 120px;
  height: 36px;
  color: white;
  background-color: rgb(19, 93, 230);
  box-shadow: rgba(0, 0, 0, 0.356) -2px 2px 0.1em;
  text-transform: uppercase;
}

/* post Style */

.post {
  margin: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  box-shadow: rgba(0, 0, 0, 0.356) -1px 1px 0.2em;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

/* Author */

.author {
  padding-top: 20px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 0 0 120px;
  width: 120px;
  background-color: #fd2d01;
}

.author .user-name-feed {
  color: white;
  font-weight: 600;
  text-align: center;
}
